@import "../../css-config/mixins.scss";

.footer {
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;

    @include md {
        padding: 1rem;
        flex-direction: row;
    }
}
